:root {
  --top-bg-color: #02160b;
  --medium-bg-color: #cccccc;
  --footer-bg-color: #181617;

  --orange-color:  #CD6326;
  --dark-color: #333333;
  --light-grey-color: #666666;
  --white-color: #f7f7f7;

  --orange-light-color: #E39128;
  --brown-color: #8F5613;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:active {
  color: var(--orange-color);
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-width: 1440px;

  font-family: 'OpenSans', sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;

  color: var(--white-color);
}

h1 {
  margin-bottom: 51px;

  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 2px;


  font-family: 'OpenSans Semibold', sans-serif;
  color: var(--orange-color);
}

h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;

  color: var(--dark-color);
}

h3 {
  font-size: 27px;
  line-height: 40.5px;
  font-weight: 400;
  color: var(--dark-color);
}

h4 {
  font-size: 22px;
  line-height: 36px;

  color: var(--white-color);
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;

  color: inherit;

  border-radius: 5px;

  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;

  cursor: pointer;
}

.btn:active {
  background-color: var(--brown-color);
  color: inherit;
}

.survival-button {
  width: 160px;
  height: 60px;

  line-height: 25.95px;
  border: none;
}

.btn-orange {
  background-color: var(--orange-color);
  color: inherit;
}

.btn-orange:hover {
  background-color: var(--orange-light-color);
}

.btn-orange:active {
  background-color: var(--brown-color);
}

.container {
  margin: 0 auto;
  width: 1200px;
}

/* WRAPPER COLORS*/
.wrapper-color__one {
  background-color: var(--top-bg-color);
}

.wrapper-color__two {
  background-color: var(--medium-bg-color);
}

.wrapper-color__three {
  background-color: var(--footer-bg-color);
}

.wrapper-main {
  width: 1440px;
  margin: 0 auto;
}

.wrapper-main__one {
  min-height: 779px;
  padding-top: 19px;

  background-image: url('./assets/img/hero.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-shadow {
  box-shadow: 0 0 40px rgba(0, 0, 0, .1);
}

/* HEADER */
.header {
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 60px;
}

.header__logo p {
  font-size: 32px;
  margin-left: 15px;
}

/* HEADER-NAV */

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:first-child) {
  margin-left: 61px;
}

.search-link {
  display: flex;
}

.search-icon {
  width: 32px;
  height: 32px;
}

.sign-in-btn {
  padding: 8px 23px;

  background-color: transparent;
  border: 2px var(--orange-color) solid;
}

.sign-in-btn:hover {
  background-color: var(--orange-color);
}

/* SURVIVAL */

.survival {
  display: flex;
  margin-right: auto;
  flex-direction: column;
  max-width: 274px;
}

.survival-text {
  margin-bottom: 49px;

  font-size: 18px;
  line-height: 27px;
}

.survival-button {
  margin-bottom: 240px;
}

/* LATEST ARTICLES */

.latest-articles {
  text-align: center;
  background-color: #CCC;
}

.latest-articles__title {
  padding-top: 120px;
}

.latest-articles__header {
 margin-bottom: 20px;
}

.latest-articles__subtitle {
  margin-bottom: 120px;

  font-size: 24px;
  line-height: 36px;

  color: var(--light-grey-color);
}

/* CARDS */
.cards {
  padding-bottom: 239px;

  position: relative;
}

.card-list {
  display: flex;
  justify-content: center;
  position: relative;
}

.card-item {
  position: relative;

  width: 300px;
  height: 360px;
}

.card-item:not(:first-of-type) {
  margin-left: 60px;
}

.card-text {
  width: 186px;

  position: absolute;

  top: 247px;
  left: 50%;
  transform: translate(-50%);
}

.card__subtitle {
  margin-top: 10px;

  font-size: 17px;
  line-height: 27px;

  color: var(--white-color);
}

.arrow {
  width: 29px;
  height: 39px;

  position: absolute;
  top: 27%;

  fill: var(--dark-color);
  opacity: 0.6;
  cursor: pointer;
}

.left-arrow {
  left: 0;
  background: url('./assets/icons/left-arrow.svg') no-repeat;
}

.right-arrow {
  right: 0;
  background: url('./assets/icons/right-arrow.svg') no-repeat;
}

.arrow:hover {
  top: 26%;
  opacity: 1.0;
}

/* GET NOTIFIED */
.get-notified {
  text-align: center;

  background-color: #CCC;
}

.get-notified__title {
 margin-bottom: 59px;
}

form {
  padding-bottom: 240px;
}

input {
  height: 60px;

  font-size: 23px;
  font-family: "Roboto", sans-serif;
  line-height: 27px;

  border: none;
}

input[type="email"] {
  width: 540px;

  padding-left: 15px;

  background-color: transparent;
  border: 1px var(--light-grey-color) solid;
}

input[type="email"]:focus {
  border: 4px solid var(--orange-color);
}

input[type="email"]::placeholder {
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  line-height: 26.95px;
}

input[type="submit"] {
  width: 120px;

  margin-left: -8px;

  border-radius: 0px 5px 5px 0px;
}

input[type="submit"]:hover {
  text-decoration: underline;
}

/* FOOTER */
footer {
  padding: 150px 0 149px;

  background: url('./assets/img/footer.jpg');
}

.footer__container,
.footer__nav-list,
.footer__socials-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav-item:not(:first-of-type) {
  margin-left: 85px;
}

.footer__socials-item:not(:first-of-type) {
  margin-left: 27px;
}